
/* --------------------------------------------------------------------------------------------------------
NAVIGATION BAR TITLE
-------------------------------------------------------------------------------------------------------- */ 
.navbar-default .navbar-brand {
    color: #666699;
    font-family: Roboto; 
    font-size: 16px;
    font-weight: 300;
}

// gotta get the rounded edges for nav-inverse!
.navbar-noround {
    -ms-border-radius: 0%;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    -o-border-radius: 0%;
    border-radius: 0%;
}

.navbar-scale{
    zoom: 1.0;
}
/* mobile phone */
@media only and (max-width: 768px) {
    .navbar-scale {
        zoom: 0.86;
    }
}

.share-button {
  margin-top: 10px;
  margin-bottom: 10px;
}

#navbarcollapse {
    font-family: Roboto;
    font-weight: 300;  
}

/* --------------------------------------------------------------------------------------------------------
MAP - TIME SLIDER
-------------------------------------------------------------------------------------------------------- */ 
#map-time-slider {
    font-family: Roboto; 
    font-size: 14px;
    font-weight: 300;

    min-width: 450px;
    max-width: 450px;

    height: 32px;

    margin-bottom:105px;
    margin-left:-440px

    padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    outline: none;
}
/* mobile phone */
@media all and (max-width: 768px) {
    #map-time-slider {
        min-width: 290px;
        max-width: 290px;
        margin-bottom:75px;
        margin-left:-290px
        height: 45px;
    }
}

/* overriding original ng-hide to layout google maps UI position 
    original ng-hide will push the position to -9999, -9999 and this is
    making problem with google maps' BOTTOM_CENTER element place.
*/
#map-time-slider.ng-hide{
  /* this is just another form of hiding an element */
  display: inline!important;
  position: static;
  opacity: 0;
}

#map-time-slider.ng-hide-add, #map-time-slider.ng-hide-remove {
  -ms-transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
#map-time-slider.ng-hide-add { opacity:1; }
#map-time-slider.ng-hide-add.ng-hide-add-active { opacity:0; }
#map-time-slider.ng-hide-remove { opacity:0; }
#map-time-slider.ng-hide-remove.ng-hide-remove-active { opacity:1; }

/* --------------------------------------------------------------------------------------------------------
MAP - MOVE TO CURR LOCATION
-------------------------------------------------------------------------------------------------------- */ 
#map-btn-curr {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    text-overflow: ellipsis;
    width:40px;
    height:40px;
    margin:5px;
    margin-top:15px;
    margin-right:40px;
    padding:6px;
    text-align: center;
    border: 1px solid transparent;
    //background-color: #1E90FF;
    //color: #fff;

    -ms-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    outline: none;
}
/* mobile phone */
@media all and (max-width: 768px) {
    #map-btn-curr   {
        margin-right:20px;
        margin-top:15px;
        width:40px;
        height:40px;
    }
}

/* --------------------------------------------------------------------------------------------------------
MAP - BUTTONN TO SUBMIT POST
-------------------------------------------------------------------------------------------------------- */ 
#map-btn-submit {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    width:80px;
    height:32px;
    margin-bottom:55px;
    padding:6px;
    text-align: center;
    border: 1px solid transparent;

    -ms-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    outline: none;
}

/* mobile phone */
@media all and (max-width: 768px) {
    #map-btn-submit  {
        width:60px;
        height: 45px;
        margin-bottom:28px;
    }
}

/* --------------------------------------------------------------------------------------------------------
MAP - POST FORM TO WRITE
-------------------------------------------------------------------------------------------------------- */ 
#map-posting {
    font-family: Roboto; 
    font-size: 15px;
    font-weight: 300;

    min-width: 350px;
    max-width: 450px;

    height: 32px;

    margin-bottom:55px;
    margin-right:0px;
    margin-left:0px;

    padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    border: 1px solid transparent;

    -ms-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    outline: none;
}
/* mobile phone */
@media all and (max-width: 768px) {
    #map-posting  {
        min-width: 230px;
        max-width: 330px;
        margin-bottom:28px;
        height: 45px;
    }
}

#map-posting-form {
   /* just to be selected in jquery for 'enter' key to submit */
}
/* --------------------------------------------------------------------------------------------------------
MAP - CANVAS
-------------------------------------------------------------------------------------------------------- */ 
#map-canvas {

    /* Remove any browser-default margins. */
    margin: 0;
    margin-top: -20px; 

    width: 100%; 
    height: 93%; 
    position: absolute;
}

/* --------------------------------------------------------------------------------------------------------
MAP - SEARCH LOCATION
-------------------------------------------------------------------------------------------------------- */ 
#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#target {
        width: 345px;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

.controls {
    margin-top: 16px;
    border: 1px solid transparent;

    -ms-border-radius: 2px 0 0 2px;
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    -o-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 5px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width:30%;
    min-width: 150px;
}

/* mobile phone */
@media all and (max-width: 768px) {
    #pac-input {
        font-size: 12px;
        width:55%;
    }
}

#pac-input.ng-hide-add, #pac-input.ng-hide-remove {
  -ms-transition: 0.5s linear all;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
#pac-input.ng-hide-add { opacity:1; }
#pac-input.ng-hide-add.ng-hide-add-active { opacity:0; }
#pac-input.ng-hide-remove { opacity:0; }
#pac-input.ng-hide-remove.ng-hide-remove-active { opacity:1; }

/* --------------------------------------------------------------------------------------------------------
MAP - SEARCHBOX TOGGLE
-------------------------------------------------------------------------------------------------------- */ 
#map-search-toggle{
    /* to be selected by google map to put it up there */
    margin-top : 15px;
    margin-top:15px;
    margin-left:20px;
}

.nav-burger {
  z-input: 9999;
  margin: 0 auto;
  opacity: 0.7;
  width: 3.25em;
  cursor: pointer;
  position: relative;
  -ms-transition: all .35s;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
  color: #1E90FF;
  .line {
    height: 0.65em;
    border-radius: .15em;
    width: 3.25em;
    background-color: #1E90FF;

    -ms-transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
    position: relative;
  }
  .text {
    margin: .65em 0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    line-height: .4em;
    font-size: 1.2em;
    font-weight: 700;

    -ms-transition: all .35s;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
  }
}

.nav-burger.active {
  .line {
    position: relative;
    &:first-child {
      -ms-transform: rotate(45deg) translate(0.513em, -0.25em);
      -webkit-transform: rotate(45deg) translate(0.513em, -0.25em);
      -moz-transform: rotate(45deg) translate(0.513em, -0.25em);
      -o-transform: rotate(45deg) translate(0.513em, -0.25em);
      transform: rotate(45deg) translate(0.513em, -0.25em);
      right: 0.913em;
      top: 1.25em;
    }
    &:last-child {
      -ms-transform: rotate(-45deg) translate(0.569em, 0.25em);
      -webkit-transform: rotate(-45deg) translate(0.569em, 0.25em);
      -moz-transform: rotate(-45deg) translate(0.569em, 0.25em);
      -o-transform: rotate(-45deg) translate(0.569em, 0.25em);
      transform: rotate(-45deg) translate(0.569em, 0.25em);
      top: .5em;
      right: 0.969em;
    }
  }
  .text {
    opacity: 0;
    font-size: .25em;
  }
}
