
// for jquery click binding selector
#bubbleClick {
    
}

.bubblePost {
    max-width:100px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

.bubblePost_ilikeyou {
    color: #3a9bf4;
}

.bubblePost_youlikei {
    color: #ff0080;
}

.bubblePost_couple {
    color: #aff6a0;
}

.bubblePost_none {
    color: #4d4d4d;
}

// gotta get the rounded edges for nav-inverse!
.navbar-noround {
    border-radius: 0%;
}

.navbar-scale{
    zoom: 1.0;
}
/* mobile phone */
@media all and (max-width: 768px) {
    .navbar-scale {
        zoom: 0.86;
    }
}

#navbarcollapse{
    font-family: Roboto;
    font-weight: 300;  
}

// google style-ed font/weight
#google{
    font-family: Roboto;
    font-weight: 300;
}

// moving to current location button
#btn-curr {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    text-overflow: ellipsis;
    width:40px;
    height:40px;
    margin:5px;
    margin-top:15px;
    margin-right:40px;
    padding:6px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* mobile phone */
@media all and (max-width: 768px) {
    #btn-curr  {
        margin-right:20px;
        margin-top:15px;
        width:40px;
        height:40px;
    }
}

// moving to current location button
#btn-submit {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
    width:80px;
    height:32px;
    margin-bottom:55px;
    padding:6px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
/* mobile phone */
@media all and (max-width: 768px) {
    #btn-submit  {
        width:60px;
        height: 45px;
        margin-bottom:25px;
    }
}

#posting {
    font-family: Roboto; 
    font-size: 15px;
    font-weight: 300;

    min-width: 350px;
    max-width: 450px;

    height: 32px;

    margin-bottom:55px;
    margin-right:0px;

    padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* mobile phone */
@media all and (max-width: 768px) {
    #posting  {
        min-width: 250px;
        max-width: 350px;
        margin-bottom:25px;
        height: 45px;
    }
}

#sexplace {
 	font-family: Roboto;
    font-size: 15px;
    font-weight: 300;

	min-width:300px;
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    display: inline;
}

#sexsubmit {
	height: 40px;
 	font-family: Roboto;
    font-size: 15px;
    font-weight: 300;

	//width:50%;
	min-width:300px;
	margin-top:5px;
	margin-bottom:5px;
	margin-right:10px;
	padding: 0 11px 0 13px;
    text-overflow: ellipsis;

    display: inline;
}

#map-canvas {
    /* Height and width fallback for older browsers. */
    height: 100%;
    width: 100%;

    /* Set the height to match that of the viewport. */
    height: 93vh;

    /* Set the width to match that of the viewport. */
    width: 100vw;

    /* Remove any browser-default margins. */
    margin: 0;
    margin-top: -20px;     
}

.controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width:30%;
    min-width: 150px;
}

/* mobile phone */
@media all and (max-width: 768px) {
    #pac-input {
        font-size: 12px;
        width:55%;
    }
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: Roboto;
}

#target {
        width: 345px;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
