<!-- 이 파일은 .ejs 를 쓰고 있다. views folder안에 들어가 있어야 하는듯. -->

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<html>
<head>

 	<!-- jquery -->
    <script src="jquery-2.1.4.min.js"></script>

	<!-- angular -->
	<script src="angular.min.js"></script>

	<!-- angular-route -->
    <script src="angular-route.min.js"></script>

    <!-- angular-animate -->
	<script src="angular-animate.min.js"></script>

	<!-- angular-socialshare -->
	<script src="angular-socialshare.js"></script>

    <!-- angular-slider -->
    <script src="slider.js"></script> 
	<link rel="stylesheet" type="text/css" href="slider.css">

   <!-- sweet alert -->
	<script src="/sweetalert.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="./sweetalert.css">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link rel="stylesheet" href="/app.css">

   <!-- google maps API -->
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?v=3.20&libraries=places&key=AIzaSyCORDb-KW_Im-kDVydg-JHv8ikamWkFIMw">
   </script>

	<!-- express static use -->
	<script src='/app.js'></script> 

</head>
<body ng-app='app' ng-controller='ApplicationCtrl'>
	<!-- navigation bar -->
	<nav class='navbar navbar-default navbar-noround navbar-scale' role='navigation'>
		<div class='container'>
   			<div class="navbar-header">
	   			<button type="button" class="navbar-toggle navbar-scale" ng-click="navCollapsed = !navCollapsed">
	   				<span class='sr-only'>Toggle navigation</span>
	   				<span class='icon-bar'></span>
	   				<span class='icon-bar'></span>
	   				<span class='icon-bar'></span>
	   			</button>
	            <a class="navbar-brand" href="/#/">
	            	<!--<img ng-src="logo_letter.png" width="90" height="34" />-->
	            </a>
			</div>
			<!-- 
				*To collapse correctly, we need ng-class/ng-click/ng-init*
				http://stackoverflow.com/questions/16268606/responsive-dropdown-navbar-with-angular-ui-bootstrap-done-in-the-correct-angula 
			-->
			<div ng-class="{'in':!navCollapsed}" class="navbar-collapse collapse" collapse="navCollapsed">
				<ul class='nav navbar-nav'>
					<li ng-if='!currentUser'>
	                  	<a ng-href="/privacy" ng-click="collapse()">
	                  	</a>
	                </li>
				</ul>

				<p class='navbar-text navbar-right share-button '>
					<a href="#"
					socialshare
					socialshare-provider="google+"
					socialshare-text="#Talkipia #anonymous #realtime #map"
					socialshare-url="http://talkipia.com">
					<img ng-src="share_g.png" width="40" height="40"/>
					</a>
				</p>
				<p class='navbar-text navbar-right share-button '>
					<a href="#"
					socialshare
					socialshare-provider="twitter"
					socialshare-text="#Talkipia #anonymous #realtime #map"
					socialshare-url="http://talkipia.com">
					<img ng-src="share_twitter.png" width="40" height="40"/>
					</a>
				</p>
				<p class='navbar-text navbar-right share-button '>
					<a href="#"
					socialshare
					socialshare-provider="facebook"
					socialshare-text="#Talkipia #anonymous #realtime #map"
					socialshare-url="http://talkipia.com">
					<img ng-src="share_fb.png" width="40" height="40"/>
					</a>
				</p>
				
			</div>
		</div>
	</nav>

	<!-- global map -->
	<div> <!-- this is for multiple page setup later <div ng-if='currentPageId == pageId.post'>-->
		<!-- Map -->
		<div app-map=""></div>

		<!-- Search Location Toggle -->
		<div class="nav-burger" id="map-search-toggle">
		  <div class="line"></div>
		  <div class="text">Find</div>
		  <div class="line"></div>
		</div>

		<!-- Search Location -->
		<input ng-show="toggleSearchLocation == true" id="pac-input" class="controls" type="text" placeholder="Search Location">

		<!-- Move to current location -->
      	<button ng-click= 'moveToCurrentLocation()' id='map-btn-curr'>
      		<img ng-src="paper-airplane.png" width="22" height="22"/>
      	</button>

      	<!-- Posting on map 
      	<div id='map-post-center'>
      		{{content}}
      	</div>
		-->
		
      	<!-- Posting -->
      	<form ng-controller='PostsCtrl' onSubmit="return false;" ng-submit='addPost()' name='postForm' id='map-posting-form' novalidate>

      		<input  type='text' 
      				ng-model='content' 
      				ng-focus='moveToPostLocation()'
      				maxlength='50' 
      				id='map-posting' 
      				placeholder='Shout out to people around you!' required>

      		<button ng-disabled='postForm.$invalid' 
  				ng-click='addPost()' 
  				class="btn btn-danger btn-lg btn-block" 
  				id='map-btn-submit'> 
  				{{ isInstant(timevalue) && 'Instant' || (timevalue | date:"mm : ss") }}
  			</button>	

      	</form>

      	<!-- Time Slider -->
      	<div ng-show="toggleTimeSlider == true" id='map-time-slider'>
			<slider floor="5000" ceiling="1200000" step="20" precision="2" ng-model="timevalue"></slider>
		</div>
	</div>

	<!-- pages ngview temp filter for iPhone-->
	<!-- <div ng-show='!isMobile()' ng-view></div> -->

</body>
</html>

