<!-- 이 파일은 .ejs 를 쓰고 있다. views folder안에 들어가 있어야 하는듯. -->

<!DOCTYPE html>

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<link rel="stylesheet" href="/app.css">

	<!-- jquery -->
   <script src="/jquery.min.js"></script>

	<!-- angular -->
	<script src='/angular.min.js'></script>

	<!-- angular-route -->
    <script src='/angular-route.min.js'></script>

   <!-- angular-scroll -->
   <script src="/angular-scroll.min.js"></script>

   <!-- sweet alert -->
	<script src="/sweetalert.min.js"></script> 
	<link rel="stylesheet" type="text/css" href="./sweetalert.css">

   <!-- google maps API -->
   <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCORDb-KW_Im-kDVydg-JHv8ikamWkFIMw">
   </script>

    <!-- express static use -->
    <script src='/app.js'></script> 

    <script type="text/ng-template" id="/info_window.html">
  		<div id="bubblePost">
			scope.content
		</div><div id="bubbleLifeBar"></div>
	</script>

</head>
<body ng-app='app' ng-controller='ApplicationCtrl'>
	<!-- disabling enter key for post page -->
	<script type="text/javascript"> 
		function stopRKey(evt) { 
		  var evt = (evt) ? evt : ((event) ? event : null); 
		  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
		  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
		} 
		document.onkeypress = stopRKey; 
	</script>

	<!-- navigation bar -->
	<nav class='navbar navbar-inverse navbar-noround' role='navigation'>
		<div class='container'>
   			<div class="navbar-header">
	   			<button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
	   				<span class='sr-only'>Toggle navigation</span>
	   				<span class='icon-bar'></span>
	   				<span class='icon-bar'></span>
	   				<span class='icon-bar'></span>
	   			</button>
	            <a class="navbar-brand" id="google" href="/#/">Bubbles</a>
			</div>
			<!-- 
				*To collapse correctly, we need ng-class/ng-click/ng-init*
				http://stackoverflow.com/questions/16268606/responsive-dropdown-navbar-with-angular-ui-bootstrap-done-in-the-correct-angula 
			-->
			<div ng-class="{'in':!navCollapsed}" class="navbar-collapse collapse" collapse="navCollapsed">
				<ul class='nav navbar-nav'  id='google'>
					<li ng-if='!currentUser'>
	                  	<a ng-href="/#/aboutus" ng-click="collapse()">
	                  		About Us
	                  	</a>
	                </li>
				</ul>
				<!-- let's distract user by hiding username like hiding clock at casino!
				<p ng-if='currentUser' class="navbar-text navbar-right" id='google'>
	               Signed in as {{currentUser.userName}}
	       		</p>
	       		-->
			</div>
		</div>
	</nav>

	<!-- global map -->
	<div ng-if='currentPageId == pageId.post'>
		<input id="pac-input" class="controls" type="text" placeholder="Search Location">
      <button ng-click='moveToCurrentLocation()' class="btn btn-info" id='btn-curr'> Me </button>
		<div app-map=""></div>
	</div>

	<!-- pages ngview -->
	<div ng-view></div>
	
</body>
</html>

