<!doctype html>
<html class="no-js" lang="en">


  <head>
    <title>
        Privacy    
    </title>
   
  </head>


  <body class="page page-id-40 page-template-default" >
    <div id="wrapper" class="privacy">

  <div class="single-page">

	<div class="container content-wrapper">
		<div class="row">
			<h1>Privacy</h1>
		</div>
		<h6>EFFECTIVE DATE: July 30, 2015</h6>
<h1>Talkipia Privacy Policy</h1>
<p><strong>On June 28, 2015, we published a revised version of our Privacy Policy. Your continued use of Talkipia means you agree to this revised document, so please take a few minutes to read and understand it.</strong></p>
<p>The Talkipia mobile application and services, as well as the Talkipia website located at www.talkipia.com (the &#8220;Site&#8221;) and any content therein (collectively, the &#8220;Services&#8221;) offer users a forum to interact with other Talkipiausers in the same area, in order to post and share comments, and to respond to comments posted by others. In this Privacy Policy (&#8220;Policy&#8221;), we describe how we collect, use, and disclose information that we obtain about users of our Services, which are available via mobile applications (the &#8220;App&#8221;) and/or the Site.</p>
<h2>What Information We Collect</h2>
<p><strong>Geolocation Data.</strong> We ask you to share your location information from your mobile device. If you choose not to, the Services will not function. Location information is used to place you in your local Talkipia group, to place you in your home Talkipia group, and as explained below. You can revoke your consent by changing the settings or preferences on your device or by deleting Talkpia from your device.</p>
<p><strong>Your Content and Usage.</strong> We collect any content you submit to the Services. The content includes anything in your posts (for example, photos and links), replies and votes, as well as information about when you submitted the content, when it was viewed, and other activities.</p>

<p><strong>Other Information you Provide to Us.</strong> When you contact Talkpia, we will collect any information you volunteer.</p>

<h2>How We Use Information We Collect</h2>
<p>In general, we use the information we collect from and about you to provide and operate the Services, respond to your requests, and to provide customer service and technical support. We may also use information:</p>
<ul>


<li>To send you notices.</li>

<li>Verify your identity and prevent spam or other unauthorized or illegal activity.</li>
<li>To better understand how users access and use our Services, both on an aggregated and individualized basis, in order to improve our Services and respond to user desires and preferences, and for other research and analytical purposes.</li>
</ul>

<h2>Push Notifications/Alerts</h2>
<p>We may send push notifications or alerts to your device. You can deactivate these messages at any time by changing the notification settings on your device or by changing your Talkipia settings.</p>

<h2>Contact Us</h2>
<p>If you have questions about the privacy aspects of our Services or would like to make a complaint, please contact us at fkkcloud@gmail.com.</p>
<h2>Changes to this Policy</h2>
<p>This Policy is current as of the Effective Date set forth above. We may change this Policy from time to time, so please be sure to check back periodically. We will post any changes to this Policy on our Site, at http://www.talkipia.com/privacy. If we make any changes to this Policy that materially affect our practices with regard to the personal information we have previously collected from you, we will endeavor to provide you with notice in advance of such change by highlighting the change on our Site, or providing notice in our mobile app.</p>

</html>
