<style>
	div div .postlifebar {
	  height:3px;
	  background: #2ff0c4;
	  width: 0%;
	  /* Chrome, Safari, Opera */
	  -webkit-animation-name: postlifeanim_q_four;
	  -webkit-animation-duration: 0s;
	  -webkit-animation-timing-function: linear;

	  animation-name: postlifeanim_q_four;
	  animation-duration: 0s;
	  animation-timing-function: linear;
	}

	.gm-style-iw {
   	   top: 15px !important;
	   background-color: #fff;
	   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	   border: 0px;
	   border-radius: 3px 3px 0 0;
	}

	#postmsg {
	    font-family: Roboto;
	    font-size: 15px;
	    font-weight: 300;
	    text-overflow: ellipsis;
	    margin:5px;
	    padding:6px;
	    text-align: center;
	}

	#postlocal {
		max-width: none !important;
		float: right;
		margin: 0px 0px 0px 0px;
		z-index: 1;
	}

	.coupling {
	    width:100%;
	    padding-top: 3px;
	    padding-bottom: 3px;
	    border-radius: 3px 0px 0 0;
	    top-margin: -10px;
	}

	.coupling-ilikeyou {
	    background-color: #3a9bf4;
	}

	.coupling-youlikei {
	    background-color: #ff0080;
	}

	.coupling-couple {
	    background-color: #aff6a0;
	}

	.coupling-none {
	    background-color: #434a6c;
	    display: none;
	}

	#iw-container {
		margin-bottom: 0px;
	}

	/* Chrome, Safari, Opera */
	@-webkit-keyframes postlifeanim_a {
	  from { width: 100% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_b {
	  from { width: 95% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_c {
	  from { width: 90% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_d {
	  from { width: 85% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_e {
	  from { width: 75% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_f {
	  from { width: 60% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_g {
	  from { width: 50% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_h {
	  from { width: 30% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_i {
	  from { width: 20% }
	  to   { width: 0%   }
	}
	@-webkit-keyframes postlifeanim_j {
	  from { width: 10% }
	  to   { width: 0%   }
	}

	@keyframes postlifeanim_a {
	  from { width: 100% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_b {
	  from { width: 95% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_c {
	  from { width: 90% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_d {
	  from { width: 85% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_e {
	  from { width: 75% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_f {
	  from { width: 60% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_g {
	  from { width: 50% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_h {
	  from { width: 30% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_i {
	  from { width: 20% }
	  to   { width: 0%   }
	}
	@keyframes postlifeanim_j {
	  from { width: 10% }
	  to   { width: 0%   }
	}
</style>

<div id="iw-container">
	<div ng-class="get_coupling(postcouplestatus)"> </div>
	<div class="postlifebar"></div>
    <div id="postmsg">{{msg}}</div>
</div>
